<script src="~/Scripts/angular/angular.js"></script>
<script src="~/Scripts/angular/angular-i18n/1.2.5/angular-locale_pt-br.js"></script>
<script src="~/Scripts/bootstap/ui-bootstrap-tpls-0.13.0.js"></script>
<script src="~/Scripts/angular/mask/moment.js"></script>
<script src="~/Scripts/angular/mask/masks.js"></script>
<script src="~/Scripts/angular/utils/directives/pagination/dirPagination.js"></script>
<script src="~/Scripts/bootstap/bootstrap-datepicker.js"></script>
<script src="~/Scripts/jquery-ui-1.8.20.js"></script>
<script src="~/Scripts/Views/DP/DPIndex.js"></script>

<div ng-app="SOFTFIN" id="DivTotal">
    <div ng-controller="MestreEntidade">


        <script type="text/ng-template" id="modalExcluir.html">
            <div>
                <div class="modal-header">
                    <h3>Excluir Despesa?</h3>
                </div>
                <div class="modal-body">
                    <div class='container'>
                        <div class='row'>   
                            <div class='col-md-12 form-group'>
                                <label>{{entidade.descricao}} - {{entidade.valorLimite}} - {{entidade.valorPadrao}} - {{entidade.cobravel | YesNo}} - {{entidade.reembolsavel | YesNo}} - {{entidade.usarpadrao | YesNo}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="alert alert-danger" ng-show="showNOK">
                        {{msgNOK}}
                        <ul>
                            <li ng-repeat="item in Erros">{{item}}</li>
                        </ul>
                    </div>
                    <button class="btn btn-primary" ng-click="OK()">
                        <span class="glyphicon glyphicon-ok"></span>
                        OK
                    </button>
                    <button class="btn btn-default" ng-click="Cancel()">
                        <span class="glyphicon glyphicon-log-out"></span>
                        Voltar
                    </button>
                </div>
            </div>
        </script>

        <script type="text/ng-template" id="modalSalvar.html">
            <div>
                <div class="modal-header">
                    <h3>Salvar o banco movimento?</h3>
                </div>
                <div class="modal-body">
                    <div class='container'>
                        <div class='row'>
                            <div class='col-md-12 form-group'>
                                <label>{{mensagem}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="alert alert-danger" ng-show="showNOK">
                        {{msgNOK}}
                        <ul>
                            <li ng-repeat="item in Erros">{{item}}</li>
                        </ul>
                    </div>
                    <button class="btn btn-primary" ng-click="OK()">
                        <span class="glyphicon glyphicon-ok"></span>
                        OK
                    </button>
                    <button class="btn btn-default" ng-click="cancel()">
                        <span class="glyphicon glyphicon-log-out"></span>
                        Voltar
                    </button>
                </div>
            </div>
        </script>


        <div id="Grid" ng-show="showGrid">
            <div class='panel-body'>
                <form class="form-search">


                    <div class='col-md-3 form-group'>
                        <label>Pesquisa : </label>
                        <input type="text" class="form-control" ng-model="locate" />
                    </div>


                </form>
            </div>

            <dir-pagination-controls max-size="10" boundary-links="true"></dir-pagination-controls>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>


                            <button style="border-right-width: 0px; padding-right: 49px;"
                                    ng-click="Search()"
                                    title="Atualiza a lista na tela"
                                    class="btn btn-warning">
                                <span class="glyphicon glyphicon-refresh"></span> Atualizar
                            </button>

                            <button style="margin-top: 4px; padding-right: 72px;"
                                    ng-click="New()"
                                    title="Novo registro"
                                    class="btn btn-primary">
                                <span class="glyphicon glyphicon-plus"></span> Novo
                            </button>



                        </th>
                        <th>

                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="item in listDespesasPermitidas|orderBy:sortKey:reverse|filter:locate|itemsPerPage:7">
                        <td style="width: 40px;">



                            <button style="margin-top: 4px; border-right-width: 0px; padding-right: 50px;"
                                    ng-click="Detail(item)"
                                    title="Detalha o lançamento da lista"
                                    class="btn btn-primary">
                                <span class="glyphicon glyphicon-list-alt"></span> Detalhar
                            </button>


                            <button style="margin-top: 4px; border-right-width: 0px; padding-right: 68px;"
                                    ng-click="Edit(item)"
                                    title="Edita o lançamento"
                                    class="btn btn-primary">
                                <span class="glyphicon glyphicon-edit"></span> Editar
                            </button>

                            <button style="margin-top: 4px;border-right-width: 0px; padding-right: 63px;"
                                    type="button"
                                    ng-click="Delete(item)"
                                    title="Remove o lançamento"
                                    class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove"></span> Excluir
                            </button>

                        </td>

                        <td>
                            <b>
                                <span ng-click="Order('descricao')" style="cursor:pointer"> Descrição: </span>
                                <label>{{item.descricao}}</label><br />

                                <span ng-click="Order('valorLimite')" style="cursor:pointer"> Valor Limite: </span>
                                <label>{{item.valorLimite|number:2}}</label><br />

                                <span ng-click="Order('valorPadrao')" style="cursor:pointer"> Valor Padrao: </span>
                                <label>{{item.valorPadrao|number:2}}</label><br />

                                <span ng-click="Order('cobravel')" style="cursor:pointer"> Cobravel: </span>
                                <label>{{item.cobravel | YesNo}}</label><br />

                                <span ng-click="Order('reembolsavel')" style="cursor:pointer"> Reembolsavel: </span>
                                <label>{{item.reembolsavel | YesNo}}</label><br />

                                <span ng-click="Order('usarpadrao')" style="cursor:pointer"> Usar Padrão: </span>
                                <label>{{item.usarpadrao | YesNo}}</label><br />


                            </b>



                        </td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls max-size="10" boundary-links="true"></dir-pagination-controls>
            @*/ {{item.valor | number:2}}*@

            <div class="alert alert-info" ng-show="msgOK != ''">
                {{msgOK}}
            </div>

            <div class="alert alert-danger" ng-show="msgNOK != ''">
                {{msgNOK}}
                <ul>
                    <li ng-repeat="item in errors">{{item}}</li>
                </ul>
            </div>

        </div>

        <div class="container-fluid" ng-show="showManut">


            <div class="alert alert-info" ng-show="msgOK != ''">
                {{msgOK}}
            </div>
            <div class="alert alert-danger" ng-show="msgNOK != ''">
                {{msgNOK}}
                <ul>
                    <li ng-repeat="item in errors">{{item}}</li>
                </ul>
            </div>

            <div>
                <div class='row'>
                    <div class='col-md-9 form-group'>
                    </div>
                    <div class='col-md-3 form-group'>
                        <span class="input-group-btn">
                            <button type="button"
                                    ng-click="Save()"
                                    class="btn btn-primary"
                                    ng-show="!modeDetail">
                                <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
                            </button>
                        </span>
                        <span class="input-group-btn">
                            <button type="button"
                                    ng-click="Back()"
                                    class="btn btn-default">
                                <span class="glyphicon glyphicon-log-out"></span> Voltar
                            </button>
                        </span>
                    </div>
                </div>

                <div class='row'>
                    <div class='col-md-6 form-group'>
                        <label>Descricao: </label>
                        <input ng-disabled="modeDetail" type="text" ng-model="entidade.descricao" class="form-control" ng-maxlength="350" />
                    </div>


                    <div class='col-md-3 form-group'>
                        <label>Valor Limite:</label>
                        <input ng-disabled="modeDetail" type="text" ng-model="entidade.valorLimite" class="form-control" ui-number-mask="2" />
                    </div>


                    <div class='col-md-3 form-group'>
                        <label>Valor Padrão:</label>
                        <input ng-disabled="modeDetail" type="text" ng-model="entidade.valorPadrao" class="form-control" ui-number-mask="2" />
                    </div>


                    <div class='col-md-2 form-group'>
                        <label>Aprovador: </label>
                        <select ng-disabled="modeDetail" class="form-control" ng-model="entidade.aprovador_id" ng-options="o.Value as o.Text for o in listAprovadores">
                            <option value="">--Selecione--</option>
                        </select>
                    </div>


                    <div class='col-md-2 form-group'>
                        <label>Tipo Despesa:</label>
                        <select ng-disabled="modeDetail" class="form-control" ng-model="entidade.tipodespesa_id" ng-options="o.Value as o.Text for o in listTipoDespesas">
                            <option value="">--Selecione--</option>
                        </select>
                    </div>


                    <div class='col-md-2 form-group'>
                        <label>Projeto: </label>
                        <select ng-disabled="modeDetail" class="form-control" ng-model="entidade.projeto_id" ng-options="o.Value as o.Text for o in listProjetos">
                            <option value="">--Selecione--</option>
                        </select>
                    </div>


                    <div class='col-md-2 form-group'>
                        <label>Cobravel: </label>
                        <select ng-disabled="modeDetail" class="form-control" ng-model="entidade.cobravel" ng-options="o.Value as o.Text for o in ListYesNo">
                            <option value="">--Selecione--</option>
                        </select>
                    </div>


                    <div class='col-md-2 form-group'>
                        <label>Reembolsavel: </label>
                        <select ng-disabled="modeDetail" class="form-control" ng-model="entidade.reembolsavel" ng-options="o.Value as o.Text for o in ListYesNo">
                            <option value="">--Selecione--</option>
                        </select>
                    </div>


                    <div class='col-md-2 form-group'>
                        <label>Usar Padrão: </label>
                        <select ng-disabled="modeDetail" class="form-control" ng-model="entidade.usarpadrao" ng-options="o.Value as o.Text for o in ListYesNo">
                                <option value="">--Selecione--</option>
                            </select>
                    </div>


                </div>



                <div class='row'>
                    <div class='col-md-9 form-group'>
                    </div>
                    <div class='col-md-3 form-group'>
                        <span class="input-group-btn">
                            <button type="button"
                                    ng-click="Save()"
                                    class="btn btn-primary"
                                    ng-show="!modeDetail">
                                <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
                            </button>
                        </span>
                        <span class="input-group-btn">
                            <button type="button"
                                    ng-click="Back()"
                                    class="btn btn-default">
                                <span class="glyphicon glyphicon-log-out"></span> Voltar
                            </button>
                        </span>
                    </div>
                </div>
            </div>


            <div class="alert alert-info" ng-show="msgOK != ''">
                {{msgOK}}
            </div>

            <div class="alert alert-danger" ng-show="msgNOK != ''">
                {{msgNOK}}
                <ul>
                    <li ng-repeat="item in errors">{{item}}</li>
                </ul>
            </div>

        </div>


    </div>
</div>



