
    <div class="button-row form-group">
        <button class="btn btn-success" type="submit">
            <span class="glyphicon glyphicon-pencil"></span> Alterar
        </button>
        @Html.ActionLink("Voltar", "/Index",new object(), new { @class = "btn btn-default", role = "button" })
    </div>