
<div class="button-row form-group">
    <button class="btn btn-primary" type="submit">
        <span class="glyphicon glyphicon-plus"></span> Incluir</button>
    @Html.ActionLink("Voltar", "/Index",new object(), new { @class = "btn btn-default", role = "button" })
</div>
