<script src="~/Scripts/angular/angular.js"></script>
<script src="~/Scripts/angular/angular-i18n/1.2.5/angular-locale_pt-br.js"></script>
<script src="~/Scripts/bootstap/ui-bootstrap-tpls-0.13.0.js"></script>
<script src="~/Scripts/angular/mask/moment.js"></script>
<script src="~/Scripts/angular/mask/masks.js"></script>
<script src="~/Scripts/angular/utils/directives/pagination/dirPagination.js"></script>
<script src="~/Scripts/bootstap/bootstrap-datepicker.js"></script>
<script src="~/Scripts/jquery-ui-1.8.20.js"></script>
<script src="~/Scripts/Views/SaldoContabil/SaldoContabilIndex.js"></script>

<div ng-app="SOFTFIN" id="DivTotal" ng-cloak>
    <div ng-controller="MestreEntidade">


        <script type="text/ng-template" id="modalExcluir.html">
            <div>
                <div class="modal-header">
                    <h3>Excluir a Sistema Dash?</h3>
                </div>
                <div class="modal-body">
                    <div class='container'>
                        <div class='row'>
                            <div class='col-md-12 form-group'>
                                <label>{{entidade.ativo}} - {{entidade.icone}} - {{entidade.Codigo}} - {{entidade.sistemaMenu_id}} - {{entidade.Descricao}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="alert alert-info" ng-show="msgOK != ''">
                        {{msgOK}}
                    </div>
                    <div class="alert alert-danger" ng-show="msgNOK != ''">
                        {{msgNOK}}
                        <ul>
                            <li ng-repeat="item in errors">{{item}}</li>
                        </ul>
                    </div>
                    <button class="btn btn-primary" ng-click="OK()">
                        <span class="glyphicon glyphicon-ok"></span>
                        OK
                    </button>
                    <button class="btn btn-default" ng-click="Cancel()">
                        <span class="glyphicon glyphicon-log-out"></span>
                        Voltar
                    </button>
                </div>
            </div>
        </script>

        <script type="text/ng-template" id="modalSalvar.html">
            <div>
                <div class="modal-header">
                    <h3>Salvar o banco movimento?</h3>
                </div>
                <div class="modal-body">
                    <div class='container'>
                        <div class='row'>
                            <div class='col-md-12 form-group'>
                                <label>{{mensagem}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="alert alert-danger" ng-show="showNOK">
                        {{msgNOK}}
                        <ul>
                            <li ng-repeat="item in Erros">{{item}}</li>
                        </ul>
                    </div>
                    <button class="btn btn-primary" ng-click="OK()">
                        <span class="glyphicon glyphicon-ok"></span>
                        OK
                    </button>
                    <button class="btn btn-default" ng-click="cancel()">
                        <span class="glyphicon glyphicon-log-out"></span>
                        Voltar
                    </button>
                </div>
            </div>
        </script>


        <script type="text/ng-template" id="modalCentroCusto.html">
            <div>
                <div class="modal-header">
                    <h3>Centro Custo</h3>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <dir-pagination-controls max-size="10" boundary-links="true" pagination-id="gridSecundario"></dir-pagination-controls>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>

                                    </th>
                                    <th>
                                        Codigo
                                    </th>
                                    <th>
                                        Descrição
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="item in List|orderBy:sortKey:ReverseRec|filter:Locate|itemsPerPage:10" pagination-id="gridSecundario">
                                    <td>
                                        <button style="margin-top: 4px;border-right-width: 1px; padding-right: 50px;"
                                                type="button"
                                                ng-click="Select(item)"
                                                title="Seleciona o lançamento"
                                                class="btn btn-default">
                                            <span class="glyphicon glyphicon-remove"></span> Selecionar
                                        </button>
                                    </td>

                                    <td>{{item.Codigo}}</td>

                                    <td>
                                        {{item.unidade}}
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                        <dir-pagination-controls max-size="10" boundary-links="true" pagination-id="gridSecundario"></dir-pagination-controls>

                    </div>


                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" ng-click="Cancel()">
                        <span class="glyphicon glyphicon-log-out"></span>
                        Voltar

                    </button>
                </div>
            </div>
        </script>


        <script type="text/ng-template" id="modalContaContabil.html">
            <div>
                <div class="modal-header">
                    <h3>Conta Contabil</h3>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <dir-pagination-controls max-size="10" boundary-links="true" pagination-id="gridSecundario"></dir-pagination-controls>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>

                                    </th>
                                    <th>
                                        Codigo
                                    </th>
                                    <th>
                                        Descrição
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="item in List|orderBy:sortKey:ReverseRec|filter:Locate|itemsPerPage:10" pagination-id="gridSecundario">
                                    <td>
                                        <button style="margin-top: 4px;border-right-width: 1px; padding-right: 50px;"
                                                type="button"
                                                ng-click="Select(item)"
                                                title="Seleciona o lançamento"
                                                class="btn btn-default">
                                            <span class="glyphicon glyphicon-remove"></span> Selecionar
                                        </button>
                                    </td>

                                    <td>{{item.codigo}}</td>

                                    <td>
                                        {{item.descricao}}
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                        <dir-pagination-controls max-size="10" boundary-links="true" pagination-id="gridSecundario"></dir-pagination-controls>

                    </div>


                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" ng-click="Cancel()">
                        <span class="glyphicon glyphicon-log-out"></span>
                        Voltar

                    </button>
                </div>
            </div>
        </script>
        <div id="Grid" ng-show="showGrid">



            <div class='panel-body'>
                <form class="form-search">


                    <div class='col-md-3 form-group'>
                        <label>Pesquisa : </label>
                        <input type="text" class="form-control" ng-model="locate" />
                    </div>


                </form>
            </div>

            <dir-pagination-controls max-size="10" boundary-links="true"></dir-pagination-controls>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>


                            <button style="border-right-width: 0px; padding-right: 49px;"
                                    ng-click="Search()"
                                    title="Atualiza a lista na tela"
                                    class="btn btn-warning">
                                <span class="glyphicon glyphicon-refresh"></span> Atualizar
                            </button>

                            <button style="margin-top: 4px; padding-right: 72px;"
                                    ng-click="New()"
                                    title="Novo registro"
                                    class="btn btn-primary">
                                <span class="glyphicon glyphicon-plus"></span> Novo
                            </button>



                        </th>
                        <th>

                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="item in listSaldoContabil|orderBy:sortKey:reverse|filter:locate|itemsPerPage:7">
                        <td style="width: 40px;">



                            <button style="margin-top: 4px; border-right-width: 0px; padding-right: 50px;"
                                    ng-click="Detail(item)"
                                    title="Detalha o lançamento da lista"
                                    class="btn btn-primary">
                                <span class="glyphicon glyphicon-list-alt"></span> Detalhar
                            </button>


                            <button style="margin-top: 4px; border-right-width: 0px; padding-right: 68px;"
                                    ng-click="Edit(item)"
                                    title="Edita o lançamento"
                                    class="btn btn-primary">
                                <span class="glyphicon glyphicon-edit"></span> Editar
                            </button>

                            <button style="margin-top: 4px;border-right-width: 0px; padding-right: 63px;"
                                    type="button"
                                    ng-click="Delete(item)"
                                    title="Remove o lançamento"
                                    class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove"></span> Excluir
                            </button>

                        </td>

                        <td>
                            <b>


                                <span ng-click="Order('Usuario')" style="cursor:pointer"> Usuario: </span>
                                <label>{{item.Usuario}}</label><br />

                                <span ng-click="Order('Situacao')" style="cursor:pointer"> Situação: </span>
                                <label>{{item.Situacao}}</label><br />

                                <span ng-click="Order('HashCode')" style="cursor:pointer"> Hashcode: </span>
                                <label>{{item.HashCode}}</label><br />

                                <span ng-click="Order('DataBase')" style="cursor:pointer"> Database: </span>
                                <label>{{item.DataBase}}</label><br />

                                <span ng-click="Order('DataFechamento')" style="cursor:pointer"> Data Fechamento: </span>
                                <label>{{item.DataFechamento | date: dd/MM/yyyy }}</label><br />
                            </b>
                        </td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls max-size="10" boundary-links="true"></dir-pagination-controls>
            @*/ {{item.valor | number:2}}*@

            <div class="alert alert-info" ng-show="msgOK != ''">
                {{msgOK}}
            </div>

            <div class="alert alert-danger" ng-show="msgNOK != ''">
                {{msgNOK}}
                <ul>
                    <li ng-repeat="item in errors">{{item}}</li>
                </ul>
            </div>

        </div>

        <div class="container-fluid" ng-show="showManut">
            <div class="alert alert-info" ng-show="msgOK != ''">
                {{msgOK}}
            </div>
            <div class="alert alert-danger" ng-show="msgNOK != ''">
                {{msgNOK}}
                <ul>
                    <li ng-repeat="item in errors">{{item}}</li>
                </ul>
            </div>
            <div class="panel panel-primary">



                <div ng-form="frm">
                    <div class="panel-body">
                        <div class='container-fluid'>
                            <div class='row'>
                                <div class='col-md-9 form-group'>
                                </div>
                                <div class='col-md-3 form-group'>
                                    <span class="input-group-btn">
                                        <button type="button"
                                                ng-click="Salvar()"
                                                class="btn btn-primary"
                                                ng-show="!ModoConsulta">
                                            <span class="glyphicon glyphicon glyphicon-floppy-disk"></span> {{msgSalvar}}
                                        </button>
                                    </span>
                                    <span class="input-group-btn">
                                        <button type="button"
                                                ng-click="Back()"
                                                class="btn btn-default">
                                            <span class="glyphicon glyphicon-log-out"></span> Voltar
                                        </button>
                                    </span>
                                </div>
                            </div>



                            <div class='row'>

                                <div class='col-md-4 form-group'>
                                    <label>Centro Custos</label>
                                    <input type="text" ng-disabled="true" value="{{entidade.CodigoCentroCusto}} : {{entidade.DescricaoCentroCusto}}" class="form-control" ng-maxlength="150" maxlength="150" />
                                    <button ng-click="SeekCentroCusto()" ng-show="!ModoConsulta"
                                            class="btn btn-primary">
                                        <span class="glyphicon glyphicon-search"></span> Consulta
                                    </button>
                                    <button ng-click="entidade.CodigoCentroCusto = '';entidade.DescricaoCentroCusto ='';" ng-show="!ModoConsulta"
                                            class="btn btn-warning">
                                        <span class="glyphicon glyphicon-trash"></span> Limpar
                                    </button>
                                </div>

                                <div class='col-md-4 form-group'>
                                    <label>Usuário</label>
                                    <input ng-disabled="true" type="text" ng-model="entidade.Usuario" class="form-control" ng-maxlength="50" maxlength="50" />
                                </div>


                                <div class='col-md-2 form-group' datetimey ng-model="entidade.DataBase">
                                    <label>Data Base</label><span class="add-on">
                                        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                                    </span>
                                    <input data-format="MM/yyyy" ng-disabled="ModoConsulta" type="text" class="form-control" ng-model="entidade.DataBase" ui-date-mask-month-year />

                                </div>


                                <div class='col-md-2 form-group' datetimez ng-model="entidade.DataFechamento">
                                    <label>Fechamento</label>
                                    <span class="add-on">
                                        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                                    </span>
                                    <input data-format="dd/MM/yyyy" type="text" class="form-control" ng-model="entidade.DataFechamento" ui-date-mask />

                                </div>
                            </div>
                            <div class='row'>
                                <div class='col-md-4 form-group'>
                                    <label>Hash Code</label>
                                    <input ng-disabled="ModoConsulta" type="text" ng-model="entidade.HashCode" class="form-control" ng-maxlength="50" maxlength="50" />
                                </div>
                                <div class='col-md-4 form-group'>
                                    <label>Situação</label>
                                    <select class="form-control"
                                            ng-model="entidade.Situcao" ng-options="o.Value as o.Text for o in ListSituacao">
                                        <option value="">--Selecione--</option>
                                    </select>
                                </div>

                            </div>



                            <div class='row'>
                                <div class='col-md-12 form-group'>
                                    <dir-pagination-controls max-size="10" boundary-links="true" pagination-id="gridItems"></dir-pagination-controls>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <button style="margin-top: 4px; padding-right: 60px;"
                                                            ng-click="NovoItem()"
                                                            ng-disabled="ModoConsulta"
                                                            title="Novo registro"
                                                            class="btn btn-primary">
                                                        <span class="glyphicon glyphicon-plus"></span> Novo

                                                    </button>
                                                </th>
                                                <th>
                                                    Conta Contábil

                                                </th>

                                                <th>
                                                    Saldo Inicial
                                                </th>
                                                <th>
                                                    Total Crédito
                                                </th>
                                                <th>
                                                    Total Débito
                                                </th>

                                                <th>
                                                    Saldo Final
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr dir-paginate="item in entidade.SaldoContabilDetalhe|orderBy:sortKey:reverseRec|filter:FiltroExcluir|itemsPerPage:10" pagination-id="gridItems">
                                                <td>


                                                    <button style="margin-top: 4px;border-right-width: 0px; padding-right: 50px;"
                                                            type="button"
                                                            ng-click="ExcluirItem(item)"
                                                            ng-show="$index != 0"
                                                            ng-disabled="ModoConsulta"
                                                            title="Remove o lançamento"
                                                            class="btn btn-danger">
                                                        <span class="glyphicon glyphicon-remove"></span> Excluir
                                                    </button>
                                                </td>
                                                <td>
                                                    <input type="text" value="{{item.CodigoConta}} : {{item.DescricaoConta}}" class="form-control" ng-disabled="true" style="width: 290px" />
                                                    <button ng-click="SeekContaContabil(item)" ng-show="!ModoConsulta"
                                                            class="btn btn-primary">
                                                        <span class="glyphicon glyphicon-search"></span> Consulta
                                                    </button>
                                                    <button ng-click="item.CodigoConta = '';item.DescricaoConta = '';" ng-show="!ModoConsulta"
                                                            class="btn btn-warning">
                                                        <span class="glyphicon glyphicon-trash"></span> Limpar
                                                    </button>



                                                </td>

                                                <td>
                                                    <input type="text" ng-model="item.SaldoInicial" class="form-control" ng-disabled="ModoConsulta" ui-number-mask="2" />

                                                </td>
                                                <td>
                                                    <input type="text" ng-model="item.TotalCredito" class="form-control" ng-disabled="ModoConsulta" ui-number-mask="2" />

                                                </td>
                                                <td>
                                                    <input type="text" ng-model="item.TotalDebito" class="form-control" ng-disabled="ModoConsulta" ui-number-mask="2" />

                                                </td>

                                                <td>

                                                    <input type="text" ng-model="item.SaldoFinal" class="form-control" ng-disabled="ModoConsulta" ui-number-mask="2" />

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <dir-pagination-controls max-size="10" boundary-links="true" pagination-id="gridItems"></dir-pagination-controls>

                                </div>
                            </div>



                            <div class='row'>
                                <div class='col-md-9 form-group'>
                                </div>
                                <div class='col-md-3 form-group'>
                                    <span class="input-group-btn">
                                        <button type="button"
                                                ng-click="Salvar()"
                                                class="btn btn-primary"
                                                ng-show="!ModoConsulta">
                                            <span class="glyphicon glyphicon-floppy-disk"></span> {{msgSalvar}}
                                        </button>
                                    </span>
                                    <span class="input-group-btn">
                                        <button type="button"
                                                ng-click="Back()"
                                                class="btn btn-default">
                                            <span class="glyphicon glyphicon-log-out"></span> Voltar
                                        </button>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>




            </div>
        </div>


        <div class="alert alert-info" ng-show="msgOK != ''">
            {{msgOK}}
        </div>
        <div class="alert alert-danger" ng-show="msgNOK != ''">
            {{msgNOK}}
            <ul>
                <li ng-repeat="item in errors">{{item}}</li>
            </ul>
        </div>
    </div>


    </div>
</div>


