<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | SoftFin Gestor de Processos</title>


    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/simple-line-icons.min.css" rel="stylesheet" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/uniform.default.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-switch.min.css" rel="stylesheet" />

    <link href="~/Content/components.css" rel="stylesheet" />
    <link href="~/Content/plugins.css" rel="stylesheet" />
    <link href="~/Content/layout.css" rel="stylesheet" />
    <link href="~/Content/light2.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery-migrate.min.js"></script>
    <script src="~/Scripts/jquery.blockui.min.js"></script>
    <script src="~/Scripts/jquery.cokie.min.js"></script>
    <link href="~/Content/jquery.ui.theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />


    <link href="~/Content/Site.css" rel="stylesheet" />

    <script src="~/Scripts/angular/angular.js"></script>
    <script src="~/Scripts/angular/angular-i18n/1.2.5/angular-locale_pt-br.js"></script>
    <script src="~/Scripts/bootstap/ui-bootstrap-tpls-0.13.0.js"></script>
    <script src="~/Scripts/angular/mask/moment.js"></script>
    <script src="~/Scripts/angular/mask/masks.js"></script>
    <script src="~/Scripts/angular/utils/directives/pagination/dirPagination.js"></script>
    <script src="~/Scripts/bootstap/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.20.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>

    <div class="container body-content">
        @RenderBody()
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
