<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="uriApiMyLims" value="https://conforlab.mylimsweb.com/" />
    <add key="uriApiSoftFin" value="http://localhost:3342/" />
    <add key="tokenApiMyLims" value="27918d28a057bf586f6fa07bc1805f8d" />
    <add key="tokenApiSoftFin" value="" />
  </appSettings>
</configuration>