@{
    ViewBag.Title = "Aplicar Banco de Dados";
}

<h2>Execução</h2>


@using (Html.BeginForm("Execute", "ABD"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Aplicar script em banco de dados</h4>
        <hr />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Aplicar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
