<script src="~/Scripts/angular/angular.js"></script>
<script src="~/Scripts/angular/angular-i18n/1.2.5/angular-locale_pt-br.js"></script>
<script src="~/Scripts/bootstap/ui-bootstrap-tpls-0.13.0.js"></script>
<script src="~/Scripts/angular/mask/moment.js"></script>
<script src="~/Scripts/angular/mask/masks.js"></script>
<script src="~/Scripts/angular/utils/directives/pagination/dirPagination.js"></script>
<script src="~/Scripts/bootstap/bootstrap-datepicker.js"></script>
<script src="~/Scripts/jquery-ui-1.8.20.js"></script>
<script src="~/Scripts/Views/RelatorioRazaoContabil/RelatorioRazaoContabilIndex.js"></script>

<div ng-app="SOFTFIN" id="DivTotal">
    <div ng-controller="MestreEntidade">
        <div class='row'>


            <div class='col-md-2 form-group'>
                <label>Mes</label>
                <select class="form-control" ng-model="filter.mes" ng-options="o.Value as o.Text for o in listMonth">
                    <option value="">--Selecione--</option>
                </select>
            </div>
            <div class='col-md-2 form-group'>
                <label>Ano</label>
                <select class="form-control" ng-model="filter.ano" ng-options="o.Value as o.Text for o in listYear">
                    <option value="">--Selecione--</option>
                </select>
            </div>
            <div class='col-md-2 form-group' ng-model="filter.excel">
                <label>Gerar Excel</label>
                <input type="checkbox" ng-model="filter.excel" ng-true-value="true" ng-false-value="false" />

            </div>
        </div>
        <div class="modal-footer">

            <button style="border-right-width: 1px; padding-right: 49px;"
                    ng-click="Search()"
                    title="Atualiza a lista na tela"
                    class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Pesquisar
            </button>

        </div>

        <div class='row'>
            <div class='col-md-3 form-group'>
                <label>Filtro : </label>
                <input type="text" class="form-control" ng-model="locate" />
            </div>

        </div>
        <div class="row" style="overflow-x: scroll">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th style="text-align:center">
                            <span> Conta Contábil </span>
                        </th>
                        <th style="text-align:center">
                            <span> Centro de Custo </span>
                        </th>

                        <th style="text-align:center">
                            <span> Data </span>
                        </th>

                        <th style="text-align:center">
                            <span> Historico </span>
                        </th>

                        <th style="text-align:center">
                            <span> Número Lançamento </span>
                        </th>

                        <th style="text-align:center">
                            <span> Codigo Conta Contrapartida </span>
                        </th>

                        <th style="text-align:center">
                            <span> Débito </span>
                        </th>

                        <th style="text-align:center">
                            <span> Crédito </span>
                        </th>

                        <th style="text-align:center">
                
                            <span> Saldo </span>
                        </th>
                    </tr>
                </thead>
                <tbody ng-repeat="item in lista">

                    <tr>

                        <td style="font-weight: 700;" colspan="8">
                            {{item.CC}}
                        </td>
                        <td style="font-weight: 700; text-align:right">
                            {{item.SaldoInicial| number:2}}
                        </td>

                    </tr>
                
            
                        <tr ng-repeat-start="itemCentroCusto in item.DtoCentroCustos">
                            <td colspan="1"></td>

                            <td colspan="7">
                                {{itemCentroCusto.CentroCusto}} =>
                            </td>
                            <td style="font-weight: 700;text-align:right">
                                {{itemCentroCusto.SaldoInicial| number:2}}
                            </td>
                        </tr>


                        <tr ng-repeat-end ng-repeat="itemLinha in itemCentroCusto.Linha">
                            <td></td>
                            <td>
                                {{itemLinha.CC}} <br />
                            </td>
                            <td>
                                {{itemLinha.Data | date:'dd/MM/yyyy'}} <br />
                            </td>
                            <td>
                                {{itemLinha.Historico}} <br />
                            </td>
                            <td style="text-align:right">
                                {{itemLinha.NL}} <br />
                            </td>
                            <td>
                                {{itemLinha.CCC}} <br />
                            </td>
                            <td style="text-align:right">
                                {{itemLinha.Debito| number:2}} <br />
                            </td>
                            <td style="text-align:right">
                                {{itemLinha.Credito | number:2}} <br />
                            </td>
                            <td style="font-weight: 700; text-align:right">
                                {{itemLinha.Saldo| number:2}} <br />
                            </td>
                        </tr>

                   


                    <tr>
                        <td>
                            Saldo total
                        </td>

                        <td colspan="7"></td>
                        <td style="font-weight: 700; text-align:right">
                            {{item.SaldoFinal| number:2}}
                        </td>

                    </tr>
                </tbody>
            </table>

        </div>

    </div>
</div>


