<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/adab447f-c3a0-4858-a76a-4e4a7ba85295/resourceGroups/Default-Web-BrazilSouth/providers/Microsoft.Web/sites/softfin-homolog</ResourceId>
    <ResourceGroup>Default-Web-BrazilSouth</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://softfin-homolog.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>softfin-homolog.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>softfin-homolog</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$softfin-homolog</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DbControle" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:k8y2t1an09.database.windows.net;Initial Catalog=sfhom3;Integrated Security=False;User ID=admsoftfin@k8y2t1an09;Password=senh@123@@;Encrypt=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SoftFin.Web.Classes.DbControle, SoftFin.Web" MigrationConfiguration="SoftFin.Web.Migrations.Configuration, SoftFin.Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DbControle-Web.config Connection String">
      <ParameterValue>Data Source=tcp:k8y2t1an09.database.windows.net;Initial Catalog=sfhom3;Integrated Security=False;User ID=admsoftfin@k8y2t1an09;Password=senh@123@@;Encrypt=True</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DbControle-Web.config Connection String">
      <ParameterValue>Data Source=tcp:k8y2t1an09.database.windows.net;Initial Catalog=sfhom3;Integrated Security=False;User ID=admsoftfin@k8y2t1an09;Password=senh@123@@;Encrypt=True</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DbControle-Web.config Connection String">
      <ParameterValue>Data Source=tcp:k8y2t1an09.database.windows.net;Initial Catalog=sfhom3;Integrated Security=False;User ID=admsoftfin@k8y2t1an09;Password=senh@123@@;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DbControle-Web.config Connection String">
      <ParameterValue>Data Source=tcp:k8y2t1an09.database.windows.net;Initial Catalog=sfhom3;Integrated Security=False;User ID=admsoftfin@k8y2t1an09;Password=senh@123@@;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DbControle-Web.config Connection String">
      <ParameterValue>Data Source=tcp:k8y2t1an09.database.windows.net;Initial Catalog=sfhom2;Integrated Security=False;User ID=admsoftfin@k8y2t1an09;Password=senh@123@@;Encrypt=True</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DbControle-Web.config Connection String">
      <ParameterValue>Data Source=tcp:k8y2t1an09.database.windows.net;Initial Catalog=sfhom2;Integrated Security=False;User ID=admsoftfin@k8y2t1an09;Password=senh@123@@;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DbControle-Web.config Connection String">
      <ParameterValue>Data Source=tcp:k8y2t1an09.database.windows.net;Initial Catalog=sfhom2;Integrated Security=False;User ID=admsoftfin@k8y2t1an09;Password=senh@123@@;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DbControle-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>