
<script src="~/Scripts/angular/angular.js"></script>
<script src="~/Scripts/angular/angular-i18n/1.2.5/angular-locale_pt-br.js"></script>
<script src="~/Scripts/bootstap/ui-bootstrap-tpls-0.13.0.js"></script>
<script src="~/Scripts/angular/mask/moment.js"></script>
<script src="~/Scripts/angular/mask/masks.js"></script>
<script src="~/Scripts/angular/utils/directives/pagination/dirPagination.js"></script>
<script src="~/Scripts/bootstap/bootstrap-datepicker.js"></script>
<script src="~/Scripts/jquery-ui-1.8.20.js"></script>
<script src="~/Scripts/Views/FRN/FRNIndex.js"></script>

<div ng-app="SOFTFIN" id="DivTotal">
    <div ng-controller="MestreEntidade">
        <div class="alert alert-info" ng-show="showOK">
            {{msgOK}}
        </div>
        <div class="alert alert-danger" ng-show="showNOK">
            {{msgNOK}}
            <ul>
                <li ng-repeat="item in Erros">{{item}}</li>
            </ul>
        </div>

        <script type="text/ng-template" id="modalExcluir.html">
            <div>
                <div class="modal-header">
                    <h3>Excluir o Lançamento ?</h3>
                </div>
                <div class="modal-body">
                    <div class='container'>
                        <div class='row'>
                            <div class='col-md-12 form-group'>
                                <label>{{item.nome}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="alert alert-danger" ng-show="showNOK">
                        {{msgNOK}}
                        <ul>
                            <li ng-repeat="item in Erros">{{item}}</li>
                        </ul>
                    </div>
                    <button class="btn btn-primary" ng-click="ok()" title="Executa o procedimento">
                        <span class="glyphicon glyphicon-ok"></span>
                        OK
                    </button>

                    <button class="btn btn-default" ng-click="cancel()" title="Saida da opção">
                        <span class="glyphicon glyphicon-log-out"></span>
                        Voltar
                    </button>
                </div>
            </div>
        </script>

        <div id="Grid" class="container-fluid" ng-show="showGrid">

            <div class='panel-body'>
                <form class="form-search">
                    <div class='container'>

                        <div class='col-md-3 form-group'>
                            <label>Pesquisa : </label>
                            <input type="text" class="form-control" ng-model="procurar" />
                        </div>

                    </div>

                </form>
            </div>

            <dir-pagination-controls max-size="10" boundary-links="true"></dir-pagination-controls>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>


                            <button style="border-right-width: 0px; padding-right: 49px;"
                                    ng-click="ObterTodos()"
                                    title="Atualiza a lista na tela"
                                    class="btn btn-warning">
                                <span class="glyphicon glyphicon-refresh"></span> Atualizar
                            </button>

                            <button style="margin-top: 4px; padding-right: 72px;"
                                    ng-click="Novo()"
                                    title="Novo registro"
                                    ng-show="EditAccess"
                                    class="btn btn-primary">
                                <span class="glyphicon glyphicon-plus"></span> Novo
                            </button>



                        </th>
                        <th>Dados</th>

                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="item in lista|orderBy:sortKey:reverse|filter:procurar|itemsPerPage:7">
                        <td style="width: 40px;">



                            <button style="margin-top: 4px; border-right-width: 0px; padding-right: 50px;"
                                    ng-click="Detalhar(item)"
                                    title="Detalha o lançamento da lista"
                                    class="btn btn-primary">
                                <span class="glyphicon glyphicon-list-alt"></span> Detalhar
                            </button>


                            <button style="margin-top: 4px; border-right-width: 0px; padding-right: 68px;"
                                    ng-click="Alterar(item)"
                                    ng-show="EditAccess"
                                    title="Edita o lançamento"
                                    class="btn btn-primary">
                                <span class="glyphicon glyphicon-edit"></span> Editar
                            </button>

                            <button style="margin-top: 4px;border-right-width: 0px; padding-right: 63px;"
                                    type="button"
                                    ng-click="Excluir(item)"
                                    ng-show="EditAccess"
                                    title="Remove o lançamento"
                                    class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove"></span> Excluir
                            </button>

                        </td>

                        <td>
                            <b>
                                <span ng-click="ordenar('nome')"> Nome </span>
                                / <span ng-click="ordenar('cnpj')"> CNPJ </span>
                                / <span ng-click="ordenar('NomeEmpresa')">Empresa</span>

                            </b>
                            <br />

                            <label>
                                {{item.nome}}
                                / {{item.cnpj}}
                                / {{item.NomeEmpresa}}



                            </label>
                            <br />

                            <b>

                                <span ng-click="ordenar('dataContratada')">Data Inicio Contrato</span>
                                / <span ng-click="ordenar('dataContratada')">Data Saída</span>
                            </b>
                            <br />

                            <label>

                                 {{item.dataContratada | date:'dd/MM/yyyy'}}
                                / {{item.dataSaida | date:'dd/MM/yyyy'}}


                            </label>


                        </td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls max-size="10" boundary-links="true"></dir-pagination-controls>



        </div>

        <div class="container-fluid" ng-show="showManut">

            <div class="panel panel-primary">



                <div ng-form="frm">
                    <div class="panel-body">
                        <div class='container-fluid'>
                            <div class='row'>
                                <div class='col-md-9 form-group'>
                                </div>
                                <div class='col-md-3 form-group'>
                                    <span class="input-group-btn">
                                        <button type="button"
                                                ng-click="Salvar()"
                                                class="btn btn-primary"
                                                ng-show="!ModoConsulta">
                                            <span class="glyphicon glyphicon glyphicon-floppy-disk"></span> {{msgSalvar}}
                                        </button>
                                    </span>
                                    <span class="input-group-btn">
                                        <button type="button"
                                                ng-click="Voltar()"
                                                class="btn btn-default">
                                            <span class="glyphicon glyphicon-log-out"></span> Voltar
                                        </button>
                                    </span>
                                </div>
                            </div>



                            <div class='row'>

                                <div class='col-md-6 form-group'>
                                    <label>Fornecedor</label>
                                    <select ng-disabled="ModoConsulta" class="form-control" required ng-model="entidade.pessoa_id" ng-options="o.Value as o.Text for o in listaPessoas">
                                        <option value="">--Selecione--</option>
                                    </select>
                                </div>

                                <div class='col-md-6 form-group'>
                                    <label>Unidade de Negócio</label>
                                    <select ng-disabled="ModoConsulta" class="form-control" required ng-model="entidade.unidadeNegocio_id" ng-options="o.Value as o.Text for o in listaUnidades">
                                        <option value="">--Selecione--</option>
                                    </select>
                                </div>

                                <div class='col-md-9 form-group'>
                                    <label>Responsável</label>
                                    <select ng-disabled="ModoConsulta" class="form-control" required ng-model="entidade.responsavel_id" ng-options="o.Value as o.Text for o in listaPessoas">
                                        <option value="">--Selecione--</option>
                                    </select>
                                </div>

                                <div class='col-md-3 form-group' datetimez ng-model="entidade.dataContratada" ng-disabled="ModoConsulta">
                                    <label>Data de Contratação</label>
                                    <input ng-disabled="ModoConsulta" data-format="dd/MM/yyyy" type="text" class="form-control" ng-model="entidade.dataContratada" required ui-date-mask />
                                    <span class="add-on">
                                        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                                    </span>
                                </div>

                                <div class='col-md-3 form-group' datetimez ng-model="entidade.dataSaida" ng-disabled="ModoConsulta">
                                    <label>Data de Saida</label>
                                    <input ng-disabled="ModoConsulta" data-format="dd/MM/yyyy" type="text" class="form-control" ng-model="entidade.dataSaida" ui-date-mask />
                                    <span class="add-on">
                                        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                                    </span>
                                </div>

                                <div class='col-md-6 form-group'>
                                    <label>Nome da Empresa</label>
                                    <input ng-disabled="ModoConsulta" type="text" ng-model="entidade.NomeEmpresa" class="form-control" ng-maxlength="250" maxlength="250" />
                                </div>

                            </div>





                            <div class='row'>
                                <div class='col-md-9 form-group'>
                                </div>
                                <div class='col-md-3 form-group'>
                                    <span class="input-group-btn">
                                        <button type="button"
                                                ng-click="Salvar()"
                                                class="btn btn-primary"
                                                ng-show="!ModoConsulta">
                                            <span class="glyphicon glyphicon-floppy-disk"></span> {{msgSalvar}}
                                        </button>
                                    </span>
                                    <span class="input-group-btn">
                                        <button type="button"
                                                ng-click="Voltar()"
                                                class="btn btn-default">
                                            <span class="glyphicon glyphicon-log-out"></span> Voltar
                                        </button>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>




            </div>
        </div>


        <div class="alert alert-info" ng-show="showOK">
            {{msgOK}}
        </div>
        <div class="alert alert-danger" ng-show="showNOK">
            {{msgNOK}}
            <ul>
                <li ng-repeat="item in Erros">{{item}}</li>
            </ul>
        </div>
    </div>
</div>





