
<script src="~/Scripts/angular/angular.js"></script>
<script src="~/Scripts/angular/angular-i18n/1.2.5/angular-locale_pt-br.js"></script>
<script src="~/Scripts/bootstap/ui-bootstrap-tpls-0.13.0.js"></script>
<script src="~/Scripts/angular/mask/moment.js"></script>
<script src="~/Scripts/angular/mask/masks.js"></script>
<script src="~/Scripts/angular/utils/directives/pagination/dirPagination.js"></script>
<script src="~/Scripts/bootstap/bootstrap-datepicker.js"></script>
<script src="~/Scripts/jquery-ui-1.8.20.js"></script>
<script src="~/Scripts/Views/ProcessoAndamento/ProcessoAndamentoIndex.js"></script>

<div ng-app="SOFTFIN" id="DivTotal"  ng-controller="MestreEntidade">
    <div ng-show="!showPesquisa">
        <div class="modal-footer">

            <button class="btn btn-" ng-click="Voltar()">
                <span class="glyphicon glyphicon-log-out"></span>
                Voltar
            </button>

        </div>
        <iframe id="iframedin" frameBorder=0 style="width:100%; height:800px" src="{{urliframe}}" BORDERCOLOR="#FFFFFF" class="iframedin"></iframe>
        <div class="modal-footer">

            <button class="btn btn-" ng-click="voltar()">
                <span class="glyphicon glyphicon-log-out"></span>
                Voltar
            </button>

        </div>
    </div>
    <div ng-show="showPesquisa">
        <div class="alert alert-info" ng-show="showOK">
            {{msgOK}}
        </div>
        <div class="alert alert-danger" ng-show="showNOK">
            {{msgNOK}}
            <ul>
                <li ng-repeat="item in Erros">{{item}}</li>
            </ul>

        </div>

        <script type="text/ng-template" id="modalCancelarProcesso.html">
            <div>
                <div class="modal-header">
                    <h3>Cancelar o Processo ?</h3>
                </div>
                <div class="modal-body">

                        <div class='row'>
                            <div class='col-md-12 form-group'>
                                <label>{{item.NumeroProtocolo}}</label>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-md-12 form-group'>
                                <label>Motivo</label>
                                <input type="text" class="form-control" ng-model="Motivo" />
                            </div>
                        </div>

                </div>
                <div class="modal-footer">
                    <div class="alert alert-danger" ng-show="showNOK" >
                        {{msgNOK}}
                        <ul>
                            <li ng-repeat="item in Erros">{{item}}</li>
                        </ul>
                    </div>
                    <button class="btn btn-primary" ng-click="OK()" title="Executa o procedimento" ng-disabled="Motivo === ''">
                        <span class="glyphicon glyphicon-ok"></span>
                        OK
                    </button>

                    <button class="btn btn-default" ng-click="Cancel()" title="Saida da opção">
                        <span class="glyphicon glyphicon-log-out"></span>
                        Voltar
                    </button>
                </div>
            </div>
        </script>


        <script type="text/ng-template" id="modalDelegarAtividade.html">
            <div>
                <div class="modal-header">
                    <h3>Delegar o Processo ?</h3>
                </div>
                <div class="modal-body">

                    <div class='row'>
                        <div class='col-md-12 form-group'>
                            <label>{{item.NumeroProtocolo}}</label>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-md-6 form-group'>
                            <label>Usuário</label>
                            <select ng-disabled="ModoConsulta" class="form-control" required ng-model="UsuarioId" ng-options="o.Codigo as o.Descricao for o in ListaUsuarios">
                                <option value="">--Selecione--</option>
                            </select>
                        </div>
                    </div>
                    </div>
                    <div class="modal-footer">
                        <div class="alert alert-danger" ng-show="showNOK">
                            {{msgNOK}}
                            <ul>
                                <li ng-repeat="item in Erros">{{item}}</li>
                            </ul>
                        </div>
                        <button class="btn btn-primary" ng-click="OK()" title="Executa o procedimento">
                            <span class="glyphicon glyphicon-ok"></span>
                            OK
                        </button>

                        <button class="btn btn-default" ng-click="Cancel()" title="Saida da opção">
                            <span class="glyphicon glyphicon-log-out"></span>
                            Voltar
                        </button>
                    </div>
                </div>
        </script>


        <script type="text/ng-template" id="modalDetalhar.html">
            <div>
                <div class="modal-header">
                    <h3>Detalhar o Processo ?</h3>
                </div>
                <div class="modal-body">
                    <h3>{{Lista.Obj.Processo}}</h3>

                    <div class='row'>
                        <div class='col-md-3 form-group'>
                            <label>Data Inicio</label><br />
                            {{Lista.Obj.InicioProcesso |date:'dd/MM/yyyy h:mma'}}
                        </div>
                        <div class='col-md-3 form-group'>
                            <label>Data Fim</label><br />
                            {{Lista.Obj.FimProcesso |date:'dd/MM/yyyy h:mma'}}
                        </div>
                        <div class='col-md-2 form-group'>
                            <label>Cancelado</label><br />
                            {{Lista.Obj.Cancelado}}
                        </div>
                        <div class='col-md-4 form-group'>
                            <label>Usuário Cancelamento</label><br />
                            {{Lista.Obj.UsuarioCancelado}}
                        </div>

                    </div>
                    <div class='row'>
                        <div class='col-md-3 form-group'>
                            <label>Motivo</label><br />
                            {{Lista.Obj.Motivo}}
                        </div>

                    </div>

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    Atividade / Condição Entrada
                                </th>
                                <th>
                                    Função
                                </th>
                                <th>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in Lista.Obj.Dets">
                                <td>
                                    {{item.Atividade}} /  {{item.CondicaoEntrada}}
                                </td>
                                <td>
                                    {{item.Funcao}}
                                </td>

                                <td>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Usuário
                                                </th>
                                                <th>
                                                    Situação
                                                </th>
                                                <th>
                                                    Inicio/Fim
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="itemExec in item.Execs">

                                                <td>
                                                    {{itemExec.Usuario}}
                                                </td>
                                                <td>
                                                    {{itemExec.Status}}
                                                </td>
                                                <td>
                                                    {{itemExec.DataInicio | date:'dd/MM/yyyy h:mma'}} / {{itemExec.DataFim | date:'dd/MM/yyyy h:mma'}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" ng-click="Cancel()" title="Saida da opção">
                        <span class="glyphicon glyphicon-log-out"></span>
                        Voltar
                    </button>
                </div>
            </div>
        </script>

        <div id="Grid" class="container-fluid" ng-show="showGrid">

            <div class='panel-body'>
                <form class="form-search">
                    <div class='container'>
                        <div class='col-md-4 form-group'>
                            <label>Processos</label>
                            <select ng-disabled="false" class="form-control" ng-model="CodigoProcesso" ng-options="o.Codigo as o.Descricao for o in ListaProcessos">
                                <option value="">--Selecione--</option>
                            </select>
                        </div>

                        


                        <div class='col-md-3 form-group'>
                            <label>Pesquisa : </label>
                            <input type="text" class="form-control" ng-model="procurar" />
                        </div>

                    </div>

                </form>
            </div>

            <dir-pagination-controls max-size="10" boundary-links="true"></dir-pagination-controls>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>


                            <button style="border-right-width: 0px; padding-right: 49px;"
                                    ng-click="ObterTodos()"
                                    title="Atualiza a lista na tela"
                                    class="btn btn-warning">
                                <span class="glyphicon glyphicon-refresh"></span> Atualizar
                            </button>





                        </th>
                        <th>Dados</th>

                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="item in lista|orderBy:sortKey:reverse|filter:procurar|itemsPerPage:7">
                        <td style="width: 40px;">

                            @*<button style="margin-top: 4px; border-right-width: 0px; padding-right: 66px;"
                                    ng-click="Iniciar(item)"
                                    title="Detalha o Processo da lista"
                                    class="btn btn-success">
                                <span class="glyphicon glyphicon-play"></span> Iniciar
                            </button>*@


                            <button style="margin-top: 4px; border-right-width: 0px; padding-right: 48px;"
                                    ng-click="Detalhar(item)"
                                    title="Detalha o Processo da lista"
                                    class="btn btn-primary">
                                <span class="glyphicon glyphicon-list-alt"></span> Detalhar
                            </button>


                            <button style="margin-top: 4px; border-right-width: 0px; padding-right: 54px;"
                                    ng-click="Delegar(item)"
                                    title="Delega o Processo"
                                    class="btn btn-primary">
                                <span class="glyphicon glyphicon-edit"></span> Delegar
                            </button>

                            <button style="margin-top: 4px;border-right-width: 0px; padding-right: 48px;"
                                    type="button"
                                    ng-click="Cancelar(item)"
                                    title="Remove o Processo"
                                    class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove"></span> Cancelar
                            </button>

                        </td>

                        <td>
                            <b>
                                <span ng-click="ordenar('Protocolo')"> Protocolo </span>
                                / <span ng-click="ordenar('Atividade')"> Atividade </span>
                                / <span ng-click="ordenar('Funcao')">Função</span>
                                / <span ng-click="ordenar('Funcao')">Motivo</span>

                            </b>
                            <br />

                            <label>
                                {{item.NumeroProtocolo}}
                                / {{item.Atividade}}
                                / {{item.Funcao}}
                                / {{item.Motivo}}

                            </label>
                            <br />
                            <b>

                                <span ng-click="ordenar('Responsavel')">Responsável</span>
                                / <span ng-click="ordenar('DataInicio')">Data de Criação</span>
                                / <span ng-click="ordenar('Tempo')">Tempo</span>
                                / <span ng-click="ordenar('Tempo')">Motivo</span>
                            </b>
                            <br />

                            <label>

                                 {{item.Responsavel}}
                                / {{item.DataInicio | date:"dd/MM/yyyy HH:mm:ss"}}
                                / {{item.Tempo}}

                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls max-size="10" boundary-links="true"></dir-pagination-controls>



        </div>

        <div class="container-fluid" ng-show="showManut">

            <div class="panel panel-primary">



                <div ng-form="frm">
                    <div class="panel-body">
                        <div class='container-fluid'>
                            <div class='row'>
                                <div class='col-md-9 form-group'>
                                </div>
                                <div class='col-md-3 form-group'>
                                    <span class="input-group-btn">
                                        <button type="button"
                                                ng-click="Salvar()"
                                                class="btn btn-primary"
                                                ng-show="!ModoConsulta">
                                            <span class="glyphicon glyphicon glyphicon-floppy-disk"></span> {{msgSalvar}}
                                        </button>
                                    </span>
                                    <span class="input-group-btn">
                                        <button type="button"
                                                ng-click="Voltar()"
                                                class="btn btn-default">
                                            <span class="glyphicon glyphicon-log-out"></span> Voltar
                                        </button>
                                    </span>
                                </div>
                            </div>



                            <div class='row'>

                                <div class='col-md-5 form-group'>
                                    <label>Descrição</label>
                                    <input ng-disabled="ModoConsulta" type="text" ng-model="entidade.descricao" class="form-control" required ng-maxlength="50" maxlength="50" />
                                </div>

                                <div class='col-md-5 form-group'>
                                    <label>Código</label>
                                    <input ng-disabled="ModoConsulta" type="text" ng-model="entidade.codigo" class="form-control" required ng-maxlength="25" maxlength="25" />
                                </div>

                                <div class='col-md-2 form-group'>
                                    <label>Ativo</label>
                                    <select ng-disabled="ModoConsulta" class="form-control" required ng-model="entidade.ativo" ng-options="o.Value as o.Text for o in ListaSimNao">
                                        <option value="">--Selecione--</option>
                                    </select>
                                </div>

                            </div>





                            <div class='row'>
                                <div class='col-md-9 form-group'>
                                </div>
                                <div class='col-md-3 form-group'>
                                    <span class="input-group-btn">
                                        <button type="button"
                                                ng-click="Salvar()"
                                                class="btn btn-primary"
                                                ng-show="!ModoConsulta">
                                            <span class="glyphicon glyphicon-floppy-disk"></span> {{msgSalvar}}
                                        </button>
                                    </span>
                                    <span class="input-group-btn">
                                        <button type="button"
                                                ng-click="Voltar()"
                                                class="btn btn-default">
                                            <span class="glyphicon glyphicon-log-out"></span> Voltar
                                        </button>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>




            </div>
        </div>


        <div class="alert alert-info" ng-show="showOK">
            {{msgOK}}
        </div>
        <div class="alert alert-danger" ng-show="showNOK">
            {{msgNOK}}
            <ul>
                <li ng-repeat="item in Erros">{{item}}</li>
            </ul>
        </div>
    </div>
</div>




