<div class="infos_right_top">
    <ul style="margin-right: 2em;" class="mobile_none">
        <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    </ul>

    <ul>
        <li style="margin-top: 3px;"><a href="/Home/Login"><i class="fa fa-caret-right"></i> ENTRAR</a></li>
        <li style="margin-top: 3px;color:white">ou</li>
        <li><button class="button" href="#" data-toggle="modal" data-target="#ModalLoginForm"><span>EXPERIMENTE GRÁTIS </span></button></li>
    </ul>
</div>